<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>noise playground</title>
    <link type="text/css" rel="stylesheet" href="./res/element_plus.css" />
    <link type="text/css" rel="stylesheet" href="./style.css" />
    <script src="./res/vue.js"></script>
    <script src="./res/element_plus.js"></script>
    <script src="./res/lodash.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside>
                <el-scrollbar min-size.number="30">
                    <div class="panel">
                        <el-form size="mini">
                            <el-form-item label="noise type">
                                <el-select placeholder="white_noise" v-model="noise_type">
                                    <el-option label="white noise" value="white_noise"></el-option>
                                    <el-option label="cell noise" value="cell_noise"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="variant no">
                                <el-select placeholder="1" v-model="variant_no">
                                    <el-option label="1" value="1"></el-option>
                                    <el-option label="2" value="2"></el-option>
                                    <el-option label="3" value="3"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="num of horizontal points">
                                <el-input-number v-model="points_shape_x" :min="2" :max="10"  />
                            </el-form-item>
                            <el-form-item label="num of vertical points">
                                <el-input-number v-model="points_shape_y" :min="2" :max="10"  />
                            </el-form-item>
                             <el-form-item label="threshold range">
                                    <el-slider v-model="threshold_range" range></el-slider>
                                </el-form-item>
                                <el-form-item label="steps">
                                    <el-slider v-model="steps" :min="3" :max="20"></el-slider>
                                </el-form-item>
                                <el-form-item label="background color">
                                    <el-color-picker v-model="bg_color" color-format="rgb"/>
                                </el-form-item>
                                <el-form-item label="a color">
                                    <el-color-picker v-model="a_color" color-format="rgb"/>
                                </el-form-item>
                                <el-form-item label="b color">
                                    <el-color-picker v-model="b_color" color-format="rgb" />
                                </el-form-item>
                            <el-form-item>
                                <el-button type="primary" v-on:click="download_file">download file</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" v-on:click="regenerate">regenerate</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-scrollbar>
            </el-aside>
            <el-main>
                <el-scrollbar min-size.number='30'>
                    <div class="display">
                        <canvas id="canvas" width="700" height="600"></canvas>
                    </div>
                </el-scrollbar>
            </el-main>
        </el-container>
    </div>

</body>
<script type="module">
    "use strict";

    import { Manager } from './src/manager.js';
    import { Color3 } from './src/math/color3.js';


    const App = {
        data: function () {
            return {
                noise_type: 'white_noise',
                variant_no: 1,
                points_shape_x: 3,
                points_shape_y: 3,
                threshold_range:[1,80],
                steps:6,
                bg_color:'rgba(255, 255, 255, 1)',
                a_color:'rgba(0, 255, 0, 1)',
                b_color:'rgba(255, 0, 0, 1)',
            }
        },
        computed: {
            event_aggregater: function () {
                return {
    noise_type: this.noise_type,
    variant_no: this.variant_no,
    points_shape_x: this.points_shape_x,
    points_shape_y: this.points_shape_y,
    threshold_range: this.threshold_range,
    steps: this.steps,
    bg_color: this.bg_color,
    a_color: this.a_color,
    b_color: this.b_color,
};
            }
        },
        methods: {
            download_file: function () {
                this.manager.download_file('noise_playground');
            },
            regenerate: function () {
                this.manager.init_maker();
                this.manager.generate(function () {});
            }
        },
        watch: {
            event_aggregater: function (params, old_val) {
                this.regenerate_with_new_params();
            }
        },
        mounted: function () {
            this.manager = new Manager(document.getElementById("canvas"));
            this.manager.set_maker(this.event_aggregater);
            this.manager.init_maker();
            this.manager.generate(function () {});
            var vue_instance = this;
            this.regenerate_with_new_params = _.throttle(function(){
                vue_instance.manager.set_maker(vue_instance.event_aggregater);
                vue_instance.manager.init_maker();
                vue_instance.manager.generate(function () {});
            }, 300);
        }
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>

</html>