#canvas {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

  .el-aside {
    background-color: #a5cbd1;
  }
  .el-main {
    background-color: #818383;
    text-align: center;
  }

.panel {
    margin: 20px;
}
.display {
    margin: 10px;
}